# This function is to protect local variables from polluting downstream scripts
# that source this one.
exports () {
    # The directory of this file
    local DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

    # Add executables to path
    if [ -n "$APALACHE_VERSION" ]
    then
        export PATH=$DIR/_apalache/apalache-"$APALACHE_VERSION"/bin:$PATH
    else
        echo "warning: no apalache version set"
        echo "export, e.g., APALACHE_VERSION=0.9.0, and then load .envrc again"
    fi
}

exports
